mlflow
cffi==1.15.0
dill==0.3.4
google-api-python-client==1.12.10
google-cloud-bigquery-storage==1.1.0
google-cloud-bigquery==1.21.0
google-cloud-datastore==1.8.0
google-cloud-firestore==1.7.0
google-cloud-language==1.2.0
google-cloud-storage==1.18.1
google-cloud-translate==1.5.0
google-colab==1.0.0
jax==0.2.25
jaxlib==0.1.71
keras==2.7.0
oauth2client==4.1.3
pathlib==1.0.1
pillow==7.1.2
pydot-ng==2.0.0
pysocks==1.7.1
tblib==1.7.0
tensorflow==2.7.0